@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h3>Grupas Management Consultancy</h3>

    Grupas  is a consulting / training organization that focuses on Management Excellence, Operational Excellence and Development / Learning.

    Founded year: 2010

    26 experts

    62% average annual growth (2012-2015)

    40.8% average annual growth (2016)

    80 % average annual growth (2017)

    Since 2010, Grupas Consultancy is a professional management consultancy and training institution which conveys its knowledge to the developed and developing firms in Turkey with its co-founders who have 30 years of experience on industry and manufacturing and its consultants who are experts on their domains.

    Grupas  TPM Academy works for lucrative companies which aims to maximize the efficiency of the production system by zeroing work accidents, quality defects, malfunctions and all other losses, cares more about prevention than fixing by applying planned and preventative maintenance, uses visual management tools and creates an atmosphere where all the employees contribute to management, understands and solves the problems by examining them on the source and with real objects, forms teams that improve themselves continuously by specializing on their work and provides sustainable, successful business outcomes.

    Grupas YALIN  Academy supports the organizations and employees on training, development and learning requirements to achieve more efficient, effective and perfect works. To this end, the solutions in the areas of managerial / leadership, marketing, sales, finance, human resources and personal development, in particular Operational Excellence is provided to the organizations. Another strong aspect of YALIN Academy is to use proper tools and to design convenient environments for the adult education with field-trained expert advisors.

    We have been operating in the projects that are conducted in Turkey as a business partner of Quintiq which is based in Netherlands, has 7 continental offices and customers in the world and provides Supply Chain, Advanced Planning and Optimization solutions.
</p>
